<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <title>Partido de internet, controla tu voto en las elecciones.</title>
<meta name="description" content="Partido de Internet se presenta a las elecciones de 2012" />
<meta name="keywords" content="política, democracia" />
<meta name="robots" content="index,follow" />
<meta http-equiv="Content-Language" content="es" />
<meta name="author" content="kuasar" />
<meta name="revisit-after" content="7 Days" />

<link rel="shortcut icon" href="http://www.partidodeinternet.es/wp-content/themes/pdi2/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.partidodeinternet.es/wp-content/themes/pdi2/960/code/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.partidodeinternet.es/wp-content/themes/pdi2/960/code/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.partidodeinternet.es/wp-content/themes/pdi2/960/code/css/960.css" />
<link rel="stylesheet" href="http://partidodeinternet.es/wp-content/themes/pdi2/style.css" type="text/css" media="screen" />



<!-- para el registro-->
<link type="text/css" href="http://www.partidodeinternet.es/wp-content/themes/pdi2/registro/misc/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
<!-- -->

<script type="text/javascript" src="http://partidodeinternet.es/wp-content/themes/pdi2/dropdowns.js"></script>

<link rel="alternate" type="application/rss+xml" title="Partido de Internet RSS Feed" href="http://partidodeinternet.es/feed" />
<link rel="pingback" href="http://partidodeinternet.es/xmlrpc.php" />
<script type="text/javascript" src="http://www.partidodeinternet.es/wp-content/themes/pdi2/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://www.partidodeinternet.es/wp-content/themes/pdi2/rollmenu.js"></script>
<!-- para el registro-->
<script type="text/javascript" src="http://www.partidodeinternet.es/wp-content/themes/pdi2/registro/misc/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://www.partidodeinternet.es/wp-content/themes/pdi2/registro/misc/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="http://www.partidodeinternet.es/wp-content/themes/pdi2/registro/misc/init.js"></script>
<!-- -->

<script language="JavaScript" type="text/javascript" >
function popUp(URL) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=600,height=300');");
}
</script>


<link rel='stylesheet' href='http://partidodeinternet.es/wp-includes/js/thickbox/thickbox.css?ver=20081210' type='text/css' media='all' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://partidodeinternet.es/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://partidodeinternet.es/wp-includes/wlwmanifest.xml" /> 
<script type='text/javascript' src='http://partidodeinternet.es/wp-includes/js/jquery/jquery.js?ver=1.2.6'></script>
<script type='text/javascript' src='http://partidodeinternet.es/wp-includes/js/thickbox/thickbox.js?ver=3.1-20090123'></script>
<script type='text/javascript' src='http://partidodeinternet.es/wp-includes/js/jquery/jquery.form.js?ver=2.02'></script>
<script type='text/javascript' src='http://partidodeinternet.es/wp-content/plugins/google-analyticator/external-tracking.min.js?ver=5.3.1'></script>
<meta name="generator" content="WordPress 2.7.1" />


<!-- All in One SEO Pack 1.6.7 by Michael Torbert of Semper Fi Web Design[278,323] -->
<meta name="description" content="¿Quieres saber cómo controlar tu voto en las elecciones de 2012? ¿Cansado de los políticos? ¿Decepcionado? ¡Mantén el control de tu voto! Vota al Partido de Internet. ¡Vótate!" />
<meta name="keywords" content="política, partido, votar, elecciones, partido internet" />
<link rel="canonical" href="http://partidodeinternet.es/" />
<!-- /all in one seo pack -->
<link rel="stylesheet" href="http://partidodeinternet.es/wp-content/plugins/contact-form-7/stylesheet.css" type="text/css" /><script type='text/javascript' src='http://partidodeinternet.es/wp-content/plugins/contact-form-7/contact-form-7.js'></script>
<link rel="stylesheet" type="text/css" href="http://partidodeinternet.es/wp-content/plugins/wp-recaptcha/recaptcha.css" />
</head>

<!--
/****************************************************************/
/****************************************************************/
/****************************************************************/
-->


<body onload="setTimeout('delayer()', 4000)">
 <!-- PARA PRUEBAS <a href="">Link</a>-->

<script type="text/javascript" src="jquery-1.3.2.min.js"></script>

<div class="container_16" id="todo">

<!--********************HEADER****************-->

<div class="grid_16" id="header">

<!-- ============ LANGUAGE ========= -->


<!-- ========= TITULO =========-->
<div id="name"><a href="http://www.partidodeinternet.es">Partido de internet</a></div>


<!-- ============ SEARCH ========= -->

<form method="get" id="searchform"  
action="http://partidodeinternet.es/"> 
<input type="text" value="Buscar"  
name="s" id="s"  
onblur="if (this.value == '')  
{this.value = 'Buscar';}"  
onfocus="if (this.value == 'Buscar')  
{this.value = '';}" /> 
<input type="hidden" id="searchsubmit" /> 
</form>


</div><!-- cierra grid_16 header-->

<div class="clear"></div>



<div class="container_16" >

	<%= render :partial => 'layouts/flashes' -%>
	<%= yield %>

</div>


<div class="clear"></div>
<!--********************FOOTER****************-->



</div> <!-- cierra container_16 todo-->

<div id="footer">
<div class="container_16">
	<div class="grid_2 alpha">
		<p><a href="http://creativecommons.org/publicdomain/zero/1.0/deed.es"><img src="http://www.partidodeinternet.es/wp-content/themes/pdi2/images/licencia.png" alt="licencia zero"/></a></p>
		 <p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
  </p>
	<p><a href="http://partidodeinternet.es/contactar">CONTACTO</a></p></div>

	<div class="grid_14 omega">

		<div class="grid_11 alpha">
			<table style="width:100%;"><tr>
			<td><strong>Información General</strong><br/>
			¿Te unes?<br/>
			<a href="http://partidodeinternet.es/preguntas-frecuentes">Preguntas frecuentes</a><br/>
			Recursos multimedia<br/>
			<a href="http://www.partidodeinternet.es/pdi-bases.pdf">Bases</a><br/>
			<a href="http://partidodeinternet.es/wiki/Eventos">Próximos Eventos</a>
			</td>
			<td><strong>Área de organización</strong><br/>
			<a href="http://groups.google.es/group/pdi-valencia">Valencia</a><br/>
			<a href="http://groups.google.es/group/pdi-barcelona">Barcelona</a><br/>
			Castellón<br/>
			<a href="http://partidodeinternet.es/wiki/%C3%81rea_Legal">Legal</a><br/>
			<a href="http://groups.google.es/group/pdi-eco">Tesorería</a></td>
			<td><strong>Área de comunicaciones</strong><br/>
			Contenidos<br/>
			Imagen y merchandising<br/>
			<a href="http://groups.google.es/group/pdi-idiomas">Idiomas</a><br/></td>
			<td><strong>Área de tecnología</strong><br/>
			<a href="http://groups.google.es/group/pdi-aplicacion">Aplicación</a><br/>
			<a href="http://groups.google.es/group/pdi-web">Web</a><br/>
			Sistemas<br/></td>
			<td><strong>Redes Sociales</strong><br/>
			<a href="http://wiki.partidodeinternet.es">Wiki propio</a><br/>
			<a href="http://www.facebook.com/group.php?gid=36330539414">Facebook</a><br/>
			<a href="http://twitter.com/partidointernet">Twitter</a><br/>
			<a href="http://www.youtube.com/partidodeinternet">Youtube</a><br/>
			<a href="http://es.wikipedia.org/wiki/Partido_de_Internet">Wikipedia</a></td></tr>
			</table>	
		</div> 
		<div class="gris_3 omega" id="creditos"><strong>- Partido de Internet -</strong> <br/>
			<strong>Diseño:</strong> <a href="http://kuasar.es">kuasar</a><br/>
			<strong>Última revisión:</strong> Sep. 2009
		</div>

	</div>
</div>

</div> <!-- cierra footer-->


<!-- TWITTER-->
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/partidointernet.json?callback=twitterCallback2&amp;count=15"></script>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6718786-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body> 
</html>

